@brand-color:  #ccc;
@nav-color: red;
@myPadding: 20px;
@thickness: 1px;
@border: solid green;

@mixin border {
   border: 1px solid black;
}
body {
	padding: 0;
	margin: 0;
}
header {
	width: 100%;
	height: 100vh;
	background-color: @brand-color;
	nav {
		background-color: lighten(@nav-color, 10%);
		width: 100%;
		float: left;
		ul {
			margin: 0;
			padding: 0;
			color: darken(@brand-color, 90%);;
		    li {
			    color: @brand-color;
			    padding: @myPadding - 10;
			    border: @thickness*3 @border;
			    width: 10%;
			    float: left;
			    list-style: none;
			}
		}
	}
}
.navigation {

}
.slider {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center center;
    background-size: auto auto;
	background-color: @brand-color / 3;
	margin: 100px 0 0 200px;
	img {
		width: auto;
		height: auto;
    	vertical-align: middle;
	}
}
.frames-ph {
	width: 150px;
	height: 100px;
	border-radius: 5px;
	overflow: hidden;
	float: left;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center center;
    background-size: auto auto;
	background-color: @brand-color / 3;
	margin: 100px 0 0 200px;
	img {
		width: auto;
		height: auto;
    	vertical-align: middle;
	}
}
.frames-ph1 {
	width: 200px;
	height: 100px;
	border-radius: 5px;
	overflow: hidden;
	float: left;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center center;
    background-size: auto auto;
	background-color: @brand-color / 3;
	margin: 100px 0 0 20px;
	img {
		width: auto;
		height: auto;
    	vertical-align: middle;
	}
}
