
$brand-color:  #ccc;
$nav-color: red;
$myPadding: 20px;
$thickness: 1px;
$border: solid green;

@mixin border {
   border: 1px solid black;
}

body {
	padding: 0;
	margin: 0;
}
header {
		width: 100%;
		height: 100vh;
		background-color: $brand-color;
		nav {
			background-color: lighten($nav-color, 10%);
			@include border;
			ul {
				margin: 0;
				padding: 0;
				color: darken($brand-color, 90%);;
			    li {
				    color: $brand-color;
				    padding: $myPadding - 10;
				    border: $thickness*3 $border;
				}
			}
		}
	}
.navigation {

}