body {
  padding: 0;
  margin: 0; }

header {
  width: 100%;
  height: 100vh;
  background-color: #ccc; }
  header nav {
    background-color: #ff3333;
    border: 1px solid black; }
    header nav ul {
      margin: 0;
      padding: 0;
      color: black; }
      header nav ul li {
        color: #ccc;
        padding: 10px;
        border: 3px solid green; }

/*# sourceMappingURL=style.css.map */
