body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

$blue: #376285;
$light-blue: #5B86A9;
$sky-blue: #00AFB2;
$green: #0AC898;
$grey-blue: #2C3E50;
$grey: #2B323A;
$light-grey: #313942;

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

h1 {
	font-size: 32px;
	font-weight: 300;
  color: $blue;
}
h2 {
	font-weight: 300;
	font-size: 29px;
	margin: 20px 0 20px 25px;
}
h3 {
	font-weight: 600;
	font-size: 27px;
}
h4 {
	font-weight: 600;
	font-size: 22px;
	margin: 17px 0 17px 25px;
}
h5 {
	font-weight: 600;
	font-size: 22px;
	margin: 17px 0 0 15px;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.margin-left-2p {
	margin-left: 2%;
}
.margin-left-1p {
	margin-left: 1%;
}
.margin-top-20p {
	margin-top: 20px;
}
.margin-bottom-20p {
	margin-bottom: 20px;
}
.full-width {
	width: 100%;
}
.width-98 {
	width: 98%;
}
.width-49 {
	width: 49%;
}
.width-32 {
	width: 32%;
}

.container {
	max-width: 1200px;
	width: auto;
	min-width: 1024px;
	margin: 0 auto;
}
header, section, footer{
	width: 100%;
	float: left;
}


.header-section {

}

/* Flex */
.article-section {
  @include flexbox();
  flex-wrap: wrap;
}
.article {
  background-color: $light-blue;
  margin: 15px;
  flex: 1 1 300px;
  @include flex(1 200px);
  @include order(2);
  img {
    width: 100%;
  }
}

/* Grid */
.article-section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.article-grid {
  background-color: $light-blue;
  align-content: end;
  justify-content: end;
  img {
    width: 100%;
  }
}



.first {
  float: left;
  height: 80vh;
  width: 100%;
  background-color: $sky-blue;
  min-height: 400px;
  overflow-y: scroll;
}
.second {
  float: left;
  height: 20vh;
  width: 100%;
  background-color: $light-blue;
}
.rest-section {
  float: left;
  height: 80vh;
  width: 100%;
  min-height: 400px;
  .rand-div {
    float: left;
    width: 100%;
    margin-top: 20vh;
    height: 40vh;
    background-color: $grey;
  }
}
.one {
  background-color: $green ;
}
.two {
  background-color: $grey-blue;
}
.three {
  background-color: $sky-blue;
}
.four {
  background-color: $blue;
}
