body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 32px;
  font-weight: 300;
  color: #376285; }

h2 {
  font-weight: 300;
  font-size: 29px;
  margin: 20px 0 20px 25px; }

h3 {
  font-weight: 600;
  font-size: 27px; }

h4 {
  font-weight: 600;
  font-size: 22px;
  margin: 17px 0 17px 25px; }

h5 {
  font-weight: 600;
  font-size: 22px;
  margin: 17px 0 0 15px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.margin-left-2p {
  margin-left: 2%; }

.margin-left-1p {
  margin-left: 1%; }

.margin-top-20p {
  margin-top: 20px; }

.margin-bottom-20p {
  margin-bottom: 20px; }

.full-width {
  width: 100%; }

.width-98 {
  width: 98%; }

.width-49 {
  width: 49%; }

.width-32 {
  width: 32%; }

.container {
  max-width: 1200px;
  width: auto;
  min-width: 1024px;
  margin: 0 auto; }

header, section, footer {
  width: 100%;
  float: left; }

/* Flex */
.article-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }

.article {
  background-color: #5B86A9;
  margin: 15px;
  flex: 1 1 300px;
  -webkit-box-flex: 1 200px;
  -moz-box-flex: 1 200px;
  -webkit-flex: 1 200px;
  -ms-flex: 1 200px;
  flex: 1 200px;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2; }
  .article img {
    width: 100%; }

/* Grid */
.article-section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px; }

.article-grid {
  background-color: #5B86A9;
  align-content: end;
  justify-content: end; }
  .article-grid img {
    width: 100%; }

.first {
  float: left;
  height: 80vh;
  width: 100%;
  background-color: #00AFB2;
  min-height: 400px;
  overflow-y: scroll; }

.second {
  float: left;
  height: 20vh;
  width: 100%;
  background-color: #5B86A9; }

.rest-section {
  float: left;
  height: 80vh;
  width: 100%;
  min-height: 400px; }
  .rest-section .rand-div {
    float: left;
    width: 100%;
    margin-top: 20vh;
    height: 40vh;
    background-color: #2B323A; }

.one {
  background-color: #0AC898; }

.two {
  background-color: #2C3E50; }

.three {
  background-color: #00AFB2; }

.four {
  background-color: #376285; }

/*# sourceMappingURL=template.css.map */
